*{
	word-wrap:break-word !important;
	font-family: "Helvetica Neue", sans-serif ;
}
a:link{cursor:pointer;text-decoration: none !important;}
a:active{cursor:pointer;text-decoration: none !important;}
a:hover{cursor:pointer;text-decoration: underline !important;}
a:visted{cursor:pointer;text-decoration: none !important;}
.page-wrapper
{
	width: 100% !important;
	overflow:hidden !important;
}
/*5 session*/
.section{ position:relative !important;	height: auto; padding:4% 0;	width: 100%; clear:both;}
.section_1{	background-color: #ccc;overflow: hidden; background:url('../img/banner1.jpg') no-repeat 100% 100%;background-size: cover; background-attachment: fixed;z-index: 1;}
.section_2{	background: #fff; background-size:100% 100%; background-attachment: fixed; z-index: 1; }
.section_3{	background: #fff 100% 100%; background-size:100% 100%; background-attachment: fixed; z-index: 2;}
.section_4{	background: #000; height:auto; padding:4% 0; background-size:100% 100%; background-attachment: fixed; z-index: 3;}
.section_5{	background: #ccc; background-size:100% 100%; background-attachment: fixed; z-index: 4;}
.section_6{	background: #ccc; height:auto; background-size:100% 100%; background-attachment: fixed; z-index: 4;}

/*#height{
	height:100vh;
	background-attachment: fixed;
}*/
.bold{font-weight: bold;}
.padding{
	padding:10px 4px !important;
}
#green{background: #47B400 !important;color:#fff !important;}
.green{background: #47B400 !important;color:#fff !important;}
.purple{background:#8848CA !important;color:#fff !important;}
.orange{background:#E48700 !important;color:#fff !important;}
.align{	text-align: center;}
.white{color: #fff}
.color_purple{color:#8848CA !important; }
.color_green{color: #47B400;}
.color_orange{color:#E48700 !important;}
/*navbar*/
.navbar-brand
{
	padding: 0px 10px;
	position: relative;
	top: -20px;
}
.nav-padding{
	padding:16px 0;
}
.list-nav
{
	/*padding:4% 8% !important;*/
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 10px;
}

/*slider_banner*/
.top_margin_slider
{
	margin-top: 5%;
}
.main_button_container
{
	width: 100%;margin-right: auto;margin-left: auto;
}
.main_three_button
{
	
	/*padding: 20% 5px;*/
	word-wrap: break-word;
	background:transparent !important;
	border-color: #fff;
	color: #fff;
	opacity: 0.7;
	cursor: pointer;
}
.main_fourth_button_contanier
{
	margin:4% auto 0 auto;
}
.main_fourth_button
{
	
	padding: 5% 4px;
	word-wrap: break-word;
	border-color:1px solid #fff;
	color: #fff;
	/*opacity: 0.8;*/
}
.main_three_button:hover
{
	background: #0b9444;
	opacity: 1;
	color: #fff;	
}

.mtb1:hover
{
	border-color: #0b9444;
	color: #0b9444;
}
.mtb2:hover
{
	word-wrap:break-word;
	border-color: #ef4036 ;
	color: #ef4036;
}
.mtb3:hover
{
	border-color: #000033;
	color: #000033;
}
.mtb4{
	border-color: #fff;
	color: #fff;
}

/*section 2 css start*/


.text
{

	color:#E48700;
	font-style:'Helvetica Neue';
	text-align:center
}
.txt
{
	color:#29e9ac;
	font-style:'Helvetica Neue';
	text-align:center
}
.tt
{ 
	color:#29e9ac;
	font-style:'Helvetica Neue';
	text-align:center;
	padding-bottom:4%;
}
.text-color
{
	color:#29e9ac;
}
.top_margin
{
	margin-top:-2%;
}
.row1
{
	margin-top: 5%;
}
.box
{
	/*box-sizing:border-box;*/
	border-radius:22px;
	text-align:center;
	border:1px solid #baf4ec;
	padding-bottom:10px;
	text-align: center;	
	margin-top: 10px;
	overflow:hidden;
}
.box:hover
{
	box-sizing: border-box;
	border-radius:22px;
	border:1px solid #29e9ac;
	cursor:pointer;
}
.inner_container
{
	/*background:#a1f;*/
	margin-top:2%;
}

/*i
{
	color:#29e9ac;
	margin-top:30px;
    width: 48px;
    height: 53px;
  
}*/
.fa-img
{
	color:#faaaff;
	text-align:center;
	margin-top:30px;
	padding-bottom: 10px;
    /*background-color:#faaaff;*/
}
.pic
{
	cursor:pointer;
}
.btn-lg
{
	background-color:#29e9ac;
	color:#fff;
}
.btn-lg:hover
{

	color:#fff;
}

/*section 2 css endz*/


/*section 4*/

.service_project
{
	margin: 50px 10px;
}
.service_padding
{
	padding: 15px 0px;
	text-align: center;
	border-bottom: 1px solid #fff;
}
.service_box
{
	/*background: #fff;*/
}
.first_service_head
{
	border: 1px solid #29e9ac;
	border-radius: 2px;
	text-align: center;
	color: #29e9ac;
}
.last_service_button
{
	background: #29e9ac;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 3px 0px;
	margin-bottom: 4px;
}
.defualt_height
{
	height: 80PX;
	text-align: justify;
}
.margin_service_right_text
{
	margin-bottom: 10px;: 
}



.icon_service_right_box
{
display: table-cell;
text-align:center;
vertical-align: middle;
}
.navbar-collapse
{
	border-top: none;
}

/*section 4 endz*/

/*/section featured freelencer*/
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

/*....................................
			media query all home page setting 
						................................*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.section_1{	padding:5% 0; top: 0%; height:100vh;}
	.section_2{	padding:7% 0; }
	.section_3{	padding:2% 0; }
	.section_4{	padding:2% 0; }
	.navbar-brand img	{	width: 25vh;position: relative;top: 20px;	}
	.main_three_button{padding: 30% 1% !important;}
		.main_button_container{width: 50%;padding: 1%;}
		.main_fourth_button{padding: 1%;}
		.main_fourth_button_contanier{width: 30%;margin:0 auto !important;}

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.nav_button{		font-size: 12px;	}
	.section_1{	 padding:4% 0;}
	.section_2{	 padding:4% 0;}
	.section_3{	 padding:4% 0;}
	.section_4{	 padding:4% 0;}
	.navbar-brand img	{width: 30vh;position: relative; top:3vh;}
		.main_button_container{width: 30vh; margin:0 auto !important;}
		.main_fourth_button_contanier{width: 30%;margin:0 auto !important;}


}

/* Portrait tablets and small desktops */
@media (min-width: 770px) and (max-width: 991px) {
		.nav_button{font-size: 10px;	}
		/*.section_1{	height:100%;top:5vh;}
		.section_2{	height:100%;top:100vh;}
		.section_3{	height:70vh !important;top:210vh;}
		.section_4{	padding:2% 0; top: 570vh;}*/
		.navbar-brand img	{	width: 15vh !important;position: relative;top: 2vh;	}
		.main_button_container{width: 50vw; margin:2% auto !important;}
		.main_fourth_button_contanier{width: 55vh;margin:0 auto !important;}
		.main_fourth_button_contanier .button{padding: 7px;}
		.main_three_button{ padding:2% 1% !important; margin:0 auto;}
}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 769px) {
		/*.nav_button{		width: 100%;		font-size: 10px;	}*/
		.nav-padding{	padding: 10px 0px}
		/*.section_1{	height:auto; padding:2% 0 11% 0;top:5vh;}
		.section_2{	height:auto; padding:2% 0 11% 0;top:127vh;}
		.section_3{	height:auto; padding:2% 0; top:330vh;}
		.section_4{	height:auto;padding:2% 0; top: 1090vh;}*/
		.fa-5x{	font-size: 10px;}
		.fa_small_in_media{font-size: 3em !important;}
		.navbar-brand img	{	width: 55vh;position: relative;top: 5vh;	}
		.main_three_button{font-size: 12px;}
		.main_three_button{ padding:7% 1% !important; margin:10 auto;}
		.main_button_container{width: 60%}
		.main_fourth_button_contanier .button{padding: 12px;}
		.main_fourth_button_contanier{width: 50% !important;margin:0 auto !important;}


}
@media (min-width: 651px) and (max-width: 769px){
	.navbar-brand img	{	width: 20vh;position: relative;top: 2vh;	}
}
/*@media (max-width: 650px){
	.third-child{
		height:auto; padding:4% 0 70% 0; top: 770vh !important;

	}
	.section_1{	height:auto; padding:2% 0 11% 0;top:5vh;}
	.section_2{	height:auto; padding:2% 0 11% 0;top:127vh;}
	.section_3{	height:auto; padding:2% 0; top:330vh;}
	.section_4{	height:auto;padding:2% 0; top: 1010vh;}

}*/

/* Portrait phones and smaller */
@media (min-width: 321px) and (max-width: 479px) {
	.nav_button{	width: 100%;}	
	/*.section_1{	height:100%; padding:2% 0;top:5vh;}
	.section_2{	height:auto; padding:2% 0 11% 0;top:90vh;}
	.section_3{	height:auto; padding:2% 0; top:200vh;}
	.section_4{	height:auto;padding:2% 0; top: 590vh;}*/
	/*.fa_small_in_media{font-size: 2.5em !important;}*/
	.navbar-brand img	{	width: 30vh;position: relative;top: 3vh;	}
	.nav-padding{	padding: 5px 0px;}
	.main_three_button{font-size: 12px;}
	.main_fourth_button_contanier{width: 80% !important;margin:0 auto !important;font-size: 12px;font-weight: bold;}


}
@media(min-width: 240px) and (max-width: 320px) {
	/*.section_1{	height:100%; padding:2% 0;top:5vh;}
	.section_2{	height:auto; padding:2% 0 11% 0;top:90vh;}
	.section_3{	height:auto; padding:2% 0; top:240vh;}
	.section_4{	height:auto;padding:2% 0; top: 750vh;}*/
	.section_3 .tt{font-size: 25px;}
	.navbar-brand img	{	width: 30vh;position: relative;top: 3vh; margin-left:-5vh !important;	}
	.nav-padding{padding:0;}
	.main_fourth_button_contanier .button{padding: 12px 0px;}

	.main_fourth_button_contanier{width: 100% !important;margin:0 auto !important;font-size: 8px;font-weight: bold;}

	ul li>.list-nav{
		font-size:8px !important;
		width:20vh;
		border:1px solid #282828;
		margin-left:0px;
		/*overflow-y:scroll;*/
	}
	ul{
		height:auto;
		padding:1%;
		/*overflow-x: hidden;*/
	}
	ul li{
		height:auto;
		padding:1%;
	}
}

.left_part
{
	padding: 10px;
	color: #fff;
	border:1px solid #ccc;
}
.arrow-top{
	margin-top:50px;
}
.button
{
	padding: 20px 15px !important;
	text-align: center;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
/*.button:hover{
	cursor:pointer;
}*/
.letter-space{
	letter-spacing: 2px;
}




/*.............
		section two
			...............*/

/*second page css STARTS here */
.section-testimonials{top:400%;height: auto;padding:4% 0;}


/* Section: Testimonials
******************************/
.section-testimonials {
  padding-bottom: 100px!important;
}
.section-testimonials .carousel-indicators {
  bottom: -60px;
  z-index: auto;
}
.section-testimonials .carousel-indicators li {
  border: none;
  margin: 1px;
  background: #ced3d9;
}
.section-testimonials .carousel-indicators li.active {
  background: #454545;
  border: none;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.section-testimonials .title {
  margin-bottom: 60px;
}
.section-testimonials .item .profile img {
  border-radius: 50%;
  border: 9px solid rgba(0, 0, 0, 0.1);
}
.section-testimonials .item blockquote {
  font-size: 20px;
  font-weight: 300;
  border-left: 0;
  padding: 0;
  position: relative;
}
.section-testimonials .item blockquote .fa {
  position: absolute;
  color: #ced3d9;
  font-size: 22px;
  left: -45px;
}
.section-testimonials .item .source {
  font-weight: bold;
}
.section-testimonials .item .source .title {
  font-size: 16px;
  color: #333333;
}
@media (max-width: 480px) {
  .section-testimonials .item div {
    text-align: center;
  }
}
.section-testimonials .well
{
	margin-top: 10%;
}

/* Section: Still Have Question
******************************/
.still_have_qustion .container
{
	width: 50%;
	margin: 0 auto;
}

.move{margin-left:5% !important;}
.margin-top{
	margin-top:25px !important;
}
.text-green{
	padding:0 2%;
	color:#47b400 !important;
	/*background:#47b400 !important;*/
}
.white{
	padding:0 2%;
	color:#fff !important;
}
/*Second Page Endz here*/



/*third page Start Here*/
.hover:hover{
	color:#E48700;
}

.background-white{
	background:#fff !important;
}
.black{
	color:#000;
}
.black-hover:hover{
	color:#000;
}
/*third page Endz Here*/
/*footer page start here*/
.still_have_qustion .container
{
	width: 50%;
	margin: 0 auto;
}
  .footer
  {
  	font-size: 14px;
  }
  .footer ul{

  	padding-left:20px;
  }
  .margin-left{
  	margin-left:10px;
  }
  .footer ul li
  {
  	text-decoration: none;
  	list-style: none;
  	color: #fff;
  	/*margin-left:2px;*/
  } 
  .footer ul li a{
  	color: #fff;
  	text-decoration: none;
  }
  .footer ul li a:hover
  {
  	text-decoration: underline;
  }
  .padding_bottom
  {
  	padding-bottom:1.5%;
  }
  .rounded{
  	border-radius: 30px;
  }
/*footer page endz here*/